/* MENU CODE */
#mymenu {
  width: 0;
}

.menubar {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  text-align: center;
}

#mymenu img {
  width: 55px;
  height: 55px;
  margin-top: 30px;
}

.menubar a {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}

.menubar h1 {
  margin: 50px 0px 30px 20px;
  color: #edc967;
}

.menubar {
  line-height: 22px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* END MENU CODE */

.header-other-sides {
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(50px);
}

.header-logo img {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin: 15px 0px 15px 15px;
}

.header-left-side {
  float: right;
  display: flex;
  margin: -90px 30px 0px 0px;
}

#x-icon-header {
  margin: 0px 20px 0px 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}